.logo{
/*     width: 60px;
    height: 60px;
    background-color: aqua; */
}

.d-item{
    height: 650px;
}
.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
   
}
.icon-section{
    display: flex;
}
.modal-xl{
    
}

.custom-modal-dialog {
    width: 1000px; /* Ancho personalizado */
    max-width: 100%;
    margin: 1.75rem auto;
}





